#register-unsuccess {
    display: none;
}
#register-success {
    display: none;
}
#verify-unsuccess {
    display: none;
}
#verify-div {
    display: none;
    margin: 10px 0px 0px 0px;
}
#logout-div{
    display: none;
}